{% extends 'base.html.twig' %}

{% block title %}Nos Catégories{% endblock %}

{% block content %}


<link href="{{ asset('assets/js/categorie.js') }}" rel="stylesheet">
<link href="{{ asset('assets/css/categorie.css') }}" rel="stylesheet">
        

        <!-- START THE FEATURETTES -->
       

        <h1>Nos Catégories</h1>
        <hr class="featurette-divider">

        {% for musics in music %}
       
        <div id="featuret" class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading mt-3"> Chanteur: {{musics.title}} <br/><span class="text-muted mt-4">Titre: {{musics.singer}}</span></h2>
               {% for categories in musics %}
        

               
                <p class="lead mt-3">Catégories: {{categories.name}} 
                </p>
               
                {% endfor %}
                <audio class="" controls
                preload="auto" src="/uploads/song/{{musics.song}}"><a href="/uploads/song/{{musics.song}}"></a>
            </audio>
                
            </div>
            <div class="col-md-5 order-md-1">
                <img src=" /uploads/image/{{musics.image}}" height="250px" width="250px" alt="">
                <rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

            </div>
        </div>

        <hr class="featurette-divider">
      
    
   
  
       
        {% endfor %} 
     
        <!--<div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading mt-3">Musiques afro-américaines. <br/><span class="text-muted mt-4">Un style qui fait bougé votre corps...</span></h2>
                <p class="lead mt-3">blues, gospel, jazz, r'n'b, rap, hip-hop, reggae… Catégories: <br/>         
                    Chanteur: <br/>
                    Titre: <br/></p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
            </div>
            <figure>
                <figcaption class=" mb-1">
                    <div class="heart">
                        <a href="#"><i onclick()="" class="fa-solid fa-heart"></i></a>
                    </div>
                        Catégories:<br/>         
                        Chanteur: <br/>
                        Titre: <br/>         
                </figcaption>
                <audio class=""
                    controls
                    preload="auto"
                    src="/uploads/song/"></audio>
                        <a href="/uploads/song/"></audio></a>
                </audio>
            </figure>
        </div>

        <hr class="featurette-divider">
        -->
        
    <!--        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading mt-3">Rock et variétés internationales. <br/><span class="text-muted mt-4">Un style de musique plus violentes</span></h2>
                <p class="lead mt-3">rock, pop, folk, metal, punk, new wave....    </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../assets/image_site/rock.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
            </div>
        </div>

        <hr class="featurette-divider">
 
   <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading mt-3">Musique classique.<br/><span class="text-muted mt-4">Le style qui calme l'esprit.</span></h2>
                <p class="lead mt-3">l'opéra, la symphonie, la sonate, le quatuor à cordes et le concerto</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../assets/image_site/classic.jpg"preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-headingmt-3"> Musiques électroniques. <br/><span class="text-muted mt-4">Un style de la pour tous.</span></h2>
                <p class="lead mt-3">Dance, Electro, House, etc...</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../assets/image_site/techno.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
            </div>
        </div>
    
    -->

        <hr class="featurette-divider">
    

        <!-- /END THE FEATURETTES -->

{% endblock %}
